<header class="header">
  <div class="container">
    <div class="header__body">
      <div class="header__logo-wrapp">
        <a
          href="./index.html"
          class="custom-logo-link"
          rel="home"
          aria-current="page"
        >
          <img
            width="121"
            height="44"
            src="./img/icons/logo_h.svg"
            class="custom-logo lazyloaded"
            alt="Marli"
            decoding="async"
          />
        </a>
      </div>
      <address class="header__address">
        <a href="mailto:contact@expressmarli.com" class="address-email">
          contact@expressmarli.com
        </a>
        <a href="tel:+48730684425" class="address-tel">+48 730 684 425</a>
      </address>
      <a href="#" class="header__link btn-def">
        Calculate the price of delivery
      </a>
      <div class="header__rating">
        <a href="#" class="header__company">
          <img
            width="110"
            height="22"
            src="./img/icons/trans.svg"
            alt="Trans.eu"
          />
        </a>
        <a href="#" class="header__reviews">
          <span>5 (22)</span>
          <div class="header__stars">
            <div><img src="./img/icons/star.svg" alt="Star" /></div>
            <div><img src="./img/icons/star.svg" alt="Star" /></div>
            <div><img src="./img/icons/star.svg" alt="Star" /></div>
            <div><img src="./img/icons/star.svg" alt="Star" /></div>
            <div><img src="./img/icons/star.svg" alt="Star" /></div>
          </div>
        </a>
      </div>
      <div class="header__lang">
        <div
          id="menu-item-406"
          class="pll-parent-menu-item menu-item menu-item-type-custom menu-item-object-custom current-menu-parent menu-item-has-children menu-item-406"
        >
          <a href="#">English</a>
          <ul class="sub-menu">
            <li
              id="menu-item-406-en"
              class="lang-item lang-item-5 lang-item-en current-lang lang-item-first menu-item menu-item-type-custom menu-item-object-custom current_page_item menu-item-home menu-item-406-en"
            >
              <a
                href="https://svvdigitalsolutions.com/"
                hreflang="en-GB"
                lang="en-GB"
              >
                English
              </a>
            </li>
            <li
              id="menu-item-406-en"
              class="lang-item lang-item-5 lang-item-en current-lang lang-item-first menu-item menu-item-type-custom menu-item-object-custom current_page_item menu-item-home menu-item-406-en"
            >
              <a
                href="https://svvdigitalsolutions.com/"
                hreflang="en-GB"
                lang="en-GB"
              >
                English
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header__down">
    <div class="container">
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item"><a href="#">Express delivery</a></li>
          <li class="header__item"><a href="#">Calculator </a></li>
          <li class="header__item"><a href="#">Settlement</a></li>
          <li class="header__item"><a href="#">Advantages </a></li>
          <li class="header__item"><a href="#">Prices</a></li>
          <li class="header__item"><a href="#">Reviews</a></li>
          <li class="header__item"><a href="#">Clients</a></li>
          <li class="header__item"><a href="#">Invoicing</a></li>
        </ul>
        <ul class="header__list">
          <li class="header__item"><a href="./about.html">About us</a></li>
          <li class="header__item"><a href="./contact.html">Contacts</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
