<div class="calcdata__sect1">
  <div class="calcdata__part">
    <div class="sidebar-load sidebar-block">
      <div>
        <h3>Loading</h3>
        <button type="button">Edit</button>
      </div>
      <p class="load-region">AT 3001 Hainbuch</p>
    </div>

    <div class="sidebar-load sidebar-block">
      <div>
        <h3>Contact loading</h3>
        <button type="button">Edit</button>
      </div>
      <p class="load-personal">
        Zipmend<br />
        Vladislav Shevchenko<br />
        st. P. Mirnogo, 14<br />
        79000<br />
        AT 3001 Hainbuch<br />
        +49 999 09 99
      </p>
    </div>

    <div class="sidebar-load sidebar-block">
      <div>
        <h3>Loading time:</h3>
        <button type="button">Edit</button>
      </div>
      <p class="load-time">
        Tomorrow 15.05.2024<br />
        07:20-09:00
      </p>
    </div>

    <div class="sidebar-services sidebar-block">
      <div>
        <h3>Extra services</h3>
        <button type="button">Edit</button>
      </div>
      <p class="services-available">No service selected</p>
    </div>
  </div>

  <div class="calcdata__part">
    <div class="sidebar-unload sidebar-block">
      <div>
        <h3>Unloading</h3>
        <button type="button">Edit</button>
      </div>
      <p class="unload-region">BE 3000 Leuven</p>
    </div>

    <div class="sidebar-unload sidebar-block">
      <div>
        <h3>Contact unloading</h3>
        <button type="button">Edit</button>
      </div>
      <p class="unload-personal">
        Zipmend<br />
        Vladislav Shevchenko<br />
        st. P. Mirnogo, 14<br />
        79000<br />
        BE 3000 Leuven<br />
        +49 999 09 99
      </p>
    </div>

    <div class="sidebar-unload sidebar-block">
      <div>
        <h3>Unloading time:</h3>
        <button type="button">Edit</button>
      </div>
      <p class="unload-time">
        Tomorrow 15.05.2024<br />
        07:20-09:00
      </p>
    </div>

    <div class="sidebar-services sidebar-block">
      <div>
        <h3>Extra services</h3>
        <button type="button">Edit</button>
      </div>
      <p class="services-available">No service selected</p>
    </div>
  </div>
</div>

<div class="calcdata__sect2">
  <div class="calcdata__part">
    <div class="sidebar-shipment sidebar-block">
      <div>
        <h3>Shipment</h3>
        <button type="button">Edit</button>
      </div>
      <p class="shipment-dimens">
        120 x 80 x 100cm<br />
        per item: 100kg<br />
        Total weight: 100kg
      </p>
    </div>
  </div>

  <div class="calcdata__part">
    <div class="sidebar-vehicle sidebar-block">
      <div>
        <h3>Vehicle Type</h3>
        <button type="button">Edit</button>
      </div>
      <p class="vehicle-type">
        Small van<br />
        (max. 160x120x120cm, max. 400kg, loading from behind)
      </p>
    </div>
  </div>
</div>

<div class="calcdata__sect3">
  <div class="sidebar-total">
    <h3>Total</h3>
    <p class="total-price">899,36 EUR</p>
    <span>
      *0% VAT for non-German (reverse charge), only for commercial customers
      (VAT-ID needed)
    </span>
  </div>
</div>
