<div class="vehicle">
  <ul class="vehicle__list">
    <li class="vehicle__item">
      <div class="vehicle__content">
        <label class="vehicle__content-label">
          <div class="vehicle__preview">
            <div class="vehicle__preview-part">
              <input
                type="radio"
                name="vehicle-truck"
                id="vehicle-truck"
                checked
              />
              <span class="vehicle__preview-check"></span>
              <h3 class="vehicle__preview-title">Small van</h3>
            </div>

            <div class="vehicle__preview-part">
              <div class="vehicle__preview-img">
                <img src="./img/content/price_1.png" alt="Truck" />
              </div>
              <p class="vehicle__preview-price">52,71 EUR</p>
            </div>
          </div>

          <div class="vehicle__backview">
            <ul class="vehicle__backview-criteria">
              <li>
                <img src="./img/icons/vehicle_icon.svg" alt="" />
                <p>Letters</p>
              </li>
              <li>
                <img src="./img/icons/vehicle_icon.svg" alt="" />
                <p>Parcels</p>
              </li>
              <li>
                <img src="./img/icons/vehicle_icon.svg" alt="" />
                <p>2 pallets</p>
              </li>
            </ul>
            <p class="vehicle__backview-size">
              max. 160 x 120 x 120 cm - max. 400kg
            </p>
            <ul class="vehicle__backview-info">
              <li>Usually only loading from back</li>
              <li>No ramp height</li>
              <li>Vehicle has no tail lift</li>
            </ul>
            <div class="vehicle__backview-img">
              <img src="./img/content/price_1.png" alt="Truck" />
            </div>
          </div>
        </label>
      </div>

      <div class="vehicle__sidebar">
        <h3 class="vehicle__sidebar-title">Extra services</h3>
        <p class="vehicle__sidebar-desc">Multiple selection possible</p>
        <ul class="vehicle__sidebar-list">
          <li>
            <label class="vehicle__sidebar-label">
              <input
                type="checkbox"
                name="vehicle-checkbox"
                id="vehicle-checkbox"
              />
              <span></span>
              <p>Loading help by driver (+29,00 EUR)</p>
            </label>
          </li>
          <li>
            <label class="vehicle__sidebar-label">
              <input
                type="checkbox"
                name="vehicle-checkbox"
                id="vehicle-checkbox"
              />
              <span></span>
              <p>Unloading help by driver (+29,00 EUR)</p>
            </label>
          </li>
          <li>
            <label class="vehicle__sidebar-label">
              <input
                type="checkbox"
                name="vehicle-checkbox"
                id="vehicle-checkbox"
              />
              <span></span>
              <p>Neutral pick up / delivery (+119,00 EUR)</p>
            </label>
          </li>
          <li>
            <label class="vehicle__sidebar-label">
              <input
                type="checkbox"
                name="vehicle-checkbox"
                id="vehicle-checkbox"
              />
              <span></span>
              <p>Paper invoice (+12,49 EUR)</p>
            </label>
          </li>
        </ul>
      </div>
    </li>

    <li class="vehicle__item">
      <div class="vehicle__content">
        <label class="vehicle__content-label">
          <div class="vehicle__preview">
            <div class="vehicle__preview-part">
              <input type="radio" name="vehicle-truck" id="vehicle-truck" />
              <span class="vehicle__preview-check"></span>
              <h3 class="vehicle__preview-title">Large van</h3>
            </div>

            <div class="vehicle__preview-part">
              <div class="vehicle__preview-img">
                <img src="./img/content/price_2.png" alt="Truck" />
              </div>
              <p class="vehicle__preview-price">103,33 EUR</p>
            </div>
          </div>

          <div class="vehicle__backview">
            <ul class="vehicle__backview-criteria">
              <li>
                <img src="./img/icons/vehicle_icon.svg" alt="" />
                <p>Letters</p>
              </li>
              <li>
                <img src="./img/icons/vehicle_icon.svg" alt="" />
                <p>Parcels</p>
              </li>
              <li>
                <img src="./img/icons/vehicle_icon.svg" alt="" />
                <p>2 pallets</p>
              </li>
            </ul>
            <p class="vehicle__backview-size">
              max. 160 x 120 x 120 cm - max. 400kg
            </p>
            <ul class="vehicle__backview-info">
              <li>Usually only loading from back</li>
              <li>No ramp height</li>
              <li>Vehicle has no tail lift</li>
            </ul>
            <div class="vehicle__backview-img">
              <img src="./img/content/price_2.png" alt="Truck" />
            </div>
          </div>
        </label>
      </div>

      <div class="vehicle__sidebar">
        <h3 class="vehicle__sidebar-title">Extra services</h3>
        <p class="vehicle__sidebar-desc">Multiple selection possible</p>
        <ul class="vehicle__sidebar-list">
          <li>
            <label class="vehicle__sidebar-label">
              <input
                type="checkbox"
                name="vehicle-checkbox"
                id="vehicle-checkbox"
              />
              <span></span>
              <p>Loading help by driver (+29,00 EUR)</p>
            </label>
          </li>
          <li>
            <label class="vehicle__sidebar-label">
              <input
                type="checkbox"
                name="vehicle-checkbox"
                id="vehicle-checkbox"
              />
              <span></span>
              <p>Unloading help by driver (+29,00 EUR)</p>
            </label>
          </li>
          <li>
            <label class="vehicle__sidebar-label">
              <input
                type="checkbox"
                name="vehicle-checkbox"
                id="vehicle-checkbox"
              />
              <span></span>
              <p>Neutral pick up / delivery (+119,00 EUR)</p>
            </label>
          </li>
          <li>
            <label class="vehicle__sidebar-label">
              <input
                type="checkbox"
                name="vehicle-checkbox"
                id="vehicle-checkbox"
              />
              <span></span>
              <p>Paper invoice (+12,49 EUR)</p>
            </label>
          </li>
        </ul>
      </div>
    </li>

    <li class="vehicle__item">
      <div class="vehicle__content">
        <label class="vehicle__content-label">
          <div class="vehicle__preview">
            <div class="vehicle__preview-part">
              <input type="radio" name="vehicle-truck" id="vehicle-truck" />
              <span class="vehicle__preview-check"></span>
              <h3 class="vehicle__preview-title">Tail lift and pallet truck</h3>
            </div>

            <div class="vehicle__preview-part">
              <div class="vehicle__preview-img">
                <img src="./img/content/price_3.png" alt="Truck" />
              </div>
              <p class="vehicle__preview-price">160,97 EUR</p>
            </div>
          </div>

          <div class="vehicle__backview">
            <ul class="vehicle__backview-criteria">
              <li>
                <img src="./img/icons/vehicle_icon.svg" alt="" />
                <p>Letters</p>
              </li>
              <li>
                <img src="./img/icons/vehicle_icon.svg" alt="" />
                <p>Parcels</p>
              </li>
              <li>
                <img src="./img/icons/vehicle_icon.svg" alt="" />
                <p>2 pallets</p>
              </li>
            </ul>
            <p class="vehicle__backview-size">
              max. 160 x 120 x 120 cm - max. 400kg
            </p>
            <ul class="vehicle__backview-info">
              <li>Usually only loading from back</li>
              <li>No ramp height</li>
              <li>Vehicle has no tail lift</li>
            </ul>
            <div class="vehicle__backview-img">
              <img src="./img/content/price_3.png" alt="Truck" />
            </div>
          </div>
        </label>
      </div>

      <div class="vehicle__sidebar">
        <h3 class="vehicle__sidebar-title">Extra services</h3>
        <p class="vehicle__sidebar-desc">Multiple selection possible</p>
        <ul class="vehicle__sidebar-list">
          <li>
            <label class="vehicle__sidebar-label">
              <input
                type="checkbox"
                name="vehicle-checkbox"
                id="vehicle-checkbox"
              />
              <span></span>
              <p>Loading help by driver (+29,00 EUR)</p>
            </label>
          </li>
          <li>
            <label class="vehicle__sidebar-label">
              <input
                type="checkbox"
                name="vehicle-checkbox"
                id="vehicle-checkbox"
              />
              <span></span>
              <p>Unloading help by driver (+29,00 EUR)</p>
            </label>
          </li>
          <li>
            <label class="vehicle__sidebar-label">
              <input
                type="checkbox"
                name="vehicle-checkbox"
                id="vehicle-checkbox"
              />
              <span></span>
              <p>Neutral pick up / delivery (+119,00 EUR)</p>
            </label>
          </li>
          <li>
            <label class="vehicle__sidebar-label">
              <input
                type="checkbox"
                name="vehicle-checkbox"
                id="vehicle-checkbox"
              />
              <span></span>
              <p>Paper invoice (+12,49 EUR)</p>
            </label>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
