@media screen and (max-width: 960px) {
  .hero {
  }
}

@media screen and (max-width: 600px) {
  .hero {
  }
}

.color-page {
  background-color: var(--cx);
}

.section-def {
  padding: 6rem 0;
}
.section-other {
  padding: 3rem 0;
}
.section-margin {
  margin-bottom: 4.5rem;
}

.title-def {
  color: var(--ch);
  font-size: 2.375rem;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 2.8rem;
}
.title-calc {
  color: var(--ch);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 2.5rem;
}

.bloc-text {
  color: var(--ct);
  font-size: 0.938em;
  line-height: 1.65em;
  p {
    margin-top: 0.7em;
    &:first-child {
      margin-top: 0;
    }
  }
}

.test {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.input-def {
  width: 100%;
  span {
    display: block;
    color: var(--ck);
    font-size: 0.875rem;
    line-height: normal;
    margin-bottom: 0.88rem;
  }
  input {
    width: 100%;
    padding: 1rem 1.38rem;
    border-radius: 0.3125rem;
    border: 0.063rem solid var(--cs);
    color: var(--ch);
    font-family: Poppins;
    font-size: 1rem;
    line-height: normal;
    transition: all 200ms;
    &:focus {
      border: 0.063rem solid var(--cb);
    }
  }
}

.radio-wrapp {
  border-radius: 0.3125rem;
  border: 0.063rem solid var(--cs);
  padding: 1rem 1.85rem 1rem 1.94rem;
  transition: all 200ms;
  &:hover {
    border: 0.063rem solid var(--cb);
  }
}
.radio-def {
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.94rem;
  span {
    position: relative;
    width: 1.5625rem;
    height: 1.5625rem;
    border-radius: 50%;
    border: 0.063rem solid var(--cy);
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 1.1875rem;
      height: 1.1875rem;
      border-radius: 50%;
      background-color: transparent;
      transition: all 200ms;
    }
  }
  input {
    display: none;
    &:checked + span {
      &::before {
        background-color: var(--cb);
      }
    }
  }
  p {
    color: var(--ch);
    font-weight: 500;
    line-height: normal;
  }
}

.btn-def,
.btn-sec,
.btn-back {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3125rem;
  background-color: var(--cb);
  padding: 1.25rem 1.875rem;
  color: var(--cw);
  line-height: normal;
  transition: all 200ms;
  &:hover,
  &:focus {
    background-color: var(--cn);
  }
}
.btn-def {
  width: fit-content;
}
.btn-back {
  display: none;
  margin-top: 1.2rem;
  color: var(--cb);
  background-color: var(--cw);
  border: 0.063rem solid var(--cb);
  &:hover,
  &:focus {
    color: var(--cw);
    background-color: var(--cb);
  }
}

@media screen and (max-width: 960px) {
  .color-page {
    background-color: transparent;
  }

  .section-def {
    padding: 4.5rem 0;
  }
  .section-other {
    padding: 2.25rem 0;
  }
  .section-margin {
    margin-bottom: 4rem;
  }

  .title-def {
    font-size: 1.5rem;
    line-height: 2.4rem;
    margin-bottom: 2.4rem;
  }
  .title-calc {
    line-height: 2.4rem;
    margin-bottom: 1.5rem;
  }

  .bloc-text {
    font-size: 0.875em;
    line-height: 1.785em;
    p {
      margin-top: 0.6em;
    }
  }

  .btn-def,
  .btn-sec,
  .btn-back {
    font-size: 0.875rem;
  }
  .btn-back {
    display: flex;
  }
}
