<footer class="footer">
  <div class="container">
    <div class="footer__body">
      <div class="footer__info">
        <div class="footer__logo-wrapp">
          <a
            href="./index.html"
            class="custom-logo-link"
            rel="home"
            aria-current="page"
          >
            <img
              width="121"
              height="44"
              src="./img/icons/logo_f.svg"
              class="custom-logo lazyloaded"
              alt="Marli"
              decoding="async"
            />
          </a>
        </div>
        <p class="footer__text">
          Your reliable partner in the world of delivery with great prices and
          excellent quality
        </p>
        <ul class="footer__list-pay">
          <li>
            <a href="#">
              <img
                src="./img/icons/pay_1.png"
                alt="Pay"
                width="32"
                height="24"
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="./img/icons/pay_2.png"
                alt="Pay"
                width="32"
                height="24"
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="./img/icons/pay_3.png"
                alt="Pay"
                width="32"
                height="24"
              />
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__wrapp">
        <div class="footer__box">
          <p class="footer__tagline">Quick access</p>
          <ul class="footer__list-pages">
            <li><a href="#">Express delivery</a></li>
            <li><a href="#">Calculator</a></li>
            <li><a href="#">Invoicing</a></li>
            <li><a href="./about.html">About us</a></li>
            <li><a href="./contact.html">Contacts</a></li>
            <li><a href="./politique.html">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="footer__box">
          <p class="footer__tagline">Top countries</p>
          <ul class="footer__list-parts">
            <li>
              <ul class="footer__list-countries">
                <li><a href="#">Austria</a></li>
                <li><a href="#">Denmark</a></li>
                <li><a href="#">France</a></li>
                <li><a href="#">Italy</a></li>
                <li><a href="#">Lithuania</a></li>
                <li><a href="#">Luxembourg</a></li>
                <li><a href="#">Netherlands</a></li>
              </ul>
            </li>
            <li>
              <ul class="footer__list-countries">
                <li><a href="#">Poland</a></li>
                <li><a href="#">Portugal</a></li>
                <li><a href="#">Romania</a></li>
                <li><a href="#">Spain</a></li>
                <li><a href="#">Sweden</a></li>
                <li><a href="#">Belgium</a></li>
                <li><a href="#">Bulgaria</a></li>
              </ul>
            </li>
            <li>
              <ul class="footer__list-countries">
                <li><a href="#">Croatia</a></li>
                <li><a href="#">Czech Republic</a></li>
                <li><a href="#">Estonia</a></li>
                <li><a href="#">Finland</a></li>
                <li><a href="#">Greece</a></li>
                <li><a href="#">Romania</a></li>
                <li><a href="#">Slovakia</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__rights">
      <p>©2022-2024 by Marli</p>
    </div>
  </div>
</footer>
