.calcstep2-sidebar {
  .sidebar-load,
  .sidebar-unload,
  .sidebar-shipment {
    button {
      display: none;
    }
  }

  .load-personal {
    display: none;
  }
  .load-time {
    display: none;
  }

  .unload-personal {
    display: none;
  }
  .unload-time {
    display: none;
  }
}
