.calcstep4-sidebar {
  .load-region {
    display: none;
  }
  .load-personal {
    display: block;
  }
  .load-time {
    display: block;
  }

  .unload-personal {
    display: none;
  }
  .unload-time {
    display: none;
  }
}
