<div class="praci-cl">
  <div class="section-margin">
    <h2 class="title-calc">Calculate price for courier transport now</h2>
  </div>

  <div class="section-margin">
    <h2 class="title-calc">Vehicle</h2>
  </div>

  <div class="section-margin">
    <h2 class="title-calc">Choose loading date</h2>
  </div>

  <label class="input-def">
    <span>Company</span>
    <input type="text" />
  </label>

  <label class="radio-def radio-wrapp">
    <input type="radio" name="radio-r" />
    <span></span>
    <p>Wed 10.04</p>
  </label>

  <a href="./calcstep2.html" class="btn-sec">Continue to shipment</a>
</div>
