<div class="praci-cl">
  <h2 class="title-calc">Calculate price for courier transport now</h2>

  <form class="praci-cl__form" id="praciForm">
    <div class="section-margin">
      <div class="praci-cl__address-box">
        <div class="praci-cl__address-part">
          <div class="calc-address">
            <span class="calc-address__title">Loading</span>
            <div class="calc-address__wrapp">
              <div class="calc-address__select">
                <select id="select-loading">
                  <option value="1">AT Austria</option>
                  <option value="2">AT Austria</option>
                  <option value="3" disabled>AT Austria disabled</option>
                  <option value="4">AT Austria</option>
                </select>
              </div>

              <div class="calc-address__choice">
                <label class="calc-address__choice-input input-def check-input">
                  <input type="text" name="praci-city" id="praci-city" />
                </label>
                <ul class="calc-address__choice-list">
                  <li>
                    <label>
                      <span>AT Austria</span>
                      <input
                        type="radio"
                        name="praci-address"
                        id="praci-address"
                        value="AT Austria"
                      />
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <button type="button" class="praci-cl__btn-add">
            Add loading address
          </button>
        </div>

        <div class="praci-cl__address-part">
          <div class="calc-address">
            <span class="calc-address__title">Unloading</span>
            <div class="calc-address__wrapp">
              <div class="calc-address__select">
                <select id="select-unloading">
                  <option value="1">AT Austria</option>
                  <option value="2">AT Austria</option>
                  <option value="3" disabled>AT Austria disabled</option>
                  <option value="4">AT Austria</option>
                </select>
              </div>

              <div class="calc-address__choice">
                <label class="calc-address__choice-input input-def">
                  <input type="text" name="praci-city" id="praci-city" />
                </label>
                <ul class="calc-address__choice-list">
                  <li>
                    <label>
                      <span>AT Austria</span>
                      <input
                        type="radio"
                        name="praci-address"
                        id="praci-address"
                        value="AT Austria"
                      />
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <button type="button" class="praci-cl__btn-add">
            Add unloading address
          </button>
        </div>
      </div>
    </div>

    <div class="section-margin">
      <h2 class="title-calc">Vehicle</h2>

      <load src="partials/general/calcvehicle.html" />
    </div>

    <div class="section-margin">
      <h2 class="title-calc">Choose loading date</h2>

      <ul class="praci-cl__list-date">
        <li>
          <label class="radio-def radio-wrapp">
            <input type="radio" name="praci-cl-date" id="praci-cl-date" />
            <span></span>
            <p>Today 08.04</p>
          </label>
        </li>
        <li>
          <label class="radio-def radio-wrapp">
            <input type="radio" name="praci-cl-date" id="praci-cl-date" />
            <span></span>
            <p>Tomorrow 09.04</p>
          </label>
        </li>
        <li>
          <label class="radio-def radio-wrapp">
            <input type="radio" name="praci-cl-date" id="praci-cl-date" />
            <span></span>
            <p>Wed 10.04</p>
          </label>
        </li>
        <li>
          <label class="radio-def radio-wrapp">
            <input type="radio" name="praci-cl-date" id="praci-cl-date" />
            <span></span>
            <p>Thu 11.04</p>
          </label>
        </li>
        <li>
          <label class="praci-cl__choose-date">
            <span></span>
            <div class="flatpickr">
              <input type="text" id="choose-date" placeholder="Choose date" />
            </div>
          </label>
        </li>
      </ul>
    </div>
  </form>

  <div class="praci-cl__info-date">
    <div class="praci-cl__info-part">
      <h2 class="praci-cl__info-title">Earliest loading between</h2>
      <p class="praci-cl__info-time">09.04.2024 | 07:00 - 09:00</p>
      <p class="praci-cl__info-desc">
        You can modify the exact time in the next steps
      </p>
    </div>

    <div class="praci-cl__info-part">
      <h2 class="praci-cl__info-title">Earliest unloading between</h2>
      <p class="praci-cl__info-time">10.04.2024 | 09:20 - 11:20</p>
      <p class="praci-cl__info-desc">
        You can modify the exact time in the next steps
      </p>
    </div>
  </div>

  <div class="praci-cl__total">
    <span class="praci-cl__total-subtitle">Total</span>
    <p class="praci-cl__total-price">899,36 EUR</p>
    <p class="praci-cl__total-decs">excl. 0% VAT Gross 899,36 EUR *</p>
  </div>

  <a href="./calcstep2.html" class="btn-sec">Continue to shipment</a>
</div>
