<div class="calcpay__body">
  <h2 class="title-calc">Payment options</h2>
  <ul class="calcpay__list">
    <li class="calcpay__item">
      <label>
        <input type="radio" name="calcpay" id="calcpay" />
        <div class="calcpay__box">
          <span></span>
          <div class="calcpay__icon-wrapp">
            <img src="./img/icons/card.svg" alt="Invoice" />
          </div>
          <h3>Invoice</h3>
        </div>
        <span class="calcpay__decs">commercial only, 14 days of payment</span>
      </label>
    </li>

    <li class="calcpay__item">
      <label>
        <input type="radio" name="calcpay" id="calcpay" />
        <div class="calcpay__box">
          <span></span>
          <div class="calcpay__img-box">
            <img src="./img/icons/pay_3.png" alt="Paypal" />
          </div>
          <h3>Paypal</h3>
        </div>
      </label>
    </li>

    <li class="calcpay__item">
      <label>
        <input type="radio" name="calcpay" id="calcpay" />
        <div class="calcpay__box">
          <span></span>
          <div class="calcpay__img-box">
            <img src="./img/icons/pay_2.png" alt="Credit card" />
            <img src="./img/icons/pay_1.png" alt="Credit card" />
          </div>
          <h3>Credit card</h3>
        </div>
      </label>
    </li>
  </ul>

  <p class="calcpay__text">
    By clicking the button you assure that you have read Terms and conditions,
    Data policy and the list of forbidden goods and accepted them.
  </p>

  <div class="sidebar-total">
    <h3>Total</h3>
    <p class="total-price">899,36 EUR</p>
    <span>excl. 0% VAT Gross 899,36 EUR *</span>
  </div>

  <a href="./calcorder.html" class="btn-sec">Pay Now</a>
  <a href="./calcstep5.html" class="btn-back">Go back</a>
</div>
