<div class="mob-menu">
  <div class="mob-menu__body">
    <load src="partials/header/parts/bottom.html" />

    <div class="mob-menu__btn">
      <a href="#" class="btn-sec">Calculate the price of delivery</a>
    </div>

    <div class="mob-menu__lang">
      <p class="mob-menu__lang-name">Language</p>
      <div class="mob-menu__lang-wrapp">
        <ul class="header__lang">
          <li
            id="menu-item-406"
            class="pll-parent-menu-item menu-item menu-item-type-custom menu-item-object-custom current-menu-parent menu-item-has-children menu-item-406"
          >
            <a href="#">
              <img
                src="./img/icons/flag_1.jpg"
                alt="En"
                width="17"
                height="12"
              />
              <span>English</span>
            </a>
            <ul class="sub-menu">
              <li
                id="menu-item-406-en"
                class="lang-item lang-item-5 lang-item-en current-lang lang-item-first menu-item menu-item-type-custom menu-item-object-custom current_page_item menu-item-home menu-item-406-en"
              >
                <a href="/" hreflang="en-GB" lang="en-GB">
                  <img
                    src="./img/icons/flag_1.jpg"
                    alt="En"
                    width="17"
                    height="12"
                  />
                  <span>English</span>
                </a>
              </li>
              <li
                id="menu-item-406-en"
                class="lang-item lang-item-5 lang-item-en current-lang lang-item-first menu-item menu-item-type-custom menu-item-object-custom current_page_item menu-item-home menu-item-406-en"
              >
                <a href="/" hreflang="en-GB" lang="en-GB">
                  <img
                    src="./img/icons/flag_2.jpg"
                    alt="En"
                    width="17"
                    height="12"
                  />
                  <span>French</span>
                </a>
              </li>
              <li
                id="menu-item-406-en"
                class="lang-item lang-item-5 lang-item-en current-lang lang-item-first menu-item menu-item-type-custom menu-item-object-custom current_page_item menu-item-home menu-item-406-en"
              >
                <a href="/" hreflang="en-GB" lang="en-GB">
                  <img
                    src="./img/icons/flag_3.jpg"
                    alt="En"
                    width="17"
                    height="12"
                  />
                  <span>Polish</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="mob-menu__address">
      <address class="header__address">
        <a href="mailto:contact@expressmarli.com" class="address-email">
          contact@expressmarli.com
        </a>
      </address>
    </div>

    <div class="mob-menu__reviews">
      <div class="header__rating">
        <div class="header__company">
          <img
            width="110"
            height="22"
            src="./img/icons/trans.svg"
            alt="Trans.eu"
          />
        </div>
        <div class="header__reviews">
          <span>5 (22)</span>
          <div class="header__stars">
            <span>
              <img
                src="./img/icons/star.svg"
                alt="Star"
                width="16"
                height="16"
              />
            </span>
            <span>
              <img
                src="./img/icons/star.svg"
                alt="Star"
                width="16"
                height="16"
              />
            </span>
            <span>
              <img
                src="./img/icons/star.svg"
                alt="Star"
                width="16"
                height="16"
              />
            </span>
            <span>
              <img
                src="./img/icons/star.svg"
                alt="Star"
                width="16"
                height="16"
              />
            </span>
            <span>
              <img
                src="./img/icons/star.svg"
                alt="Star"
                width="16"
                height="16"
              />
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
