/* Settings */
@import url('./settings/fonts.scss');
@import url('./settings/default.scss');
@import url('./settings/variables.scss');
@import url('./settings/index.scss');
@import url('./settings/general.scss');
@import url('./sections/embeded/embeded.scss');

/* General-sections */
@import url('./sections/general/companies.scss');
@import url('./sections/general/overview.scss');
@import url('./sections/general/delivery.scss');
@import url('./sections/general/flatpickr.scss');

@import url('./sections/general/calcwidget.scss');
@import url('./sections/general/calcsidebar.scss');
@import url('./sections/general/calcdata.scss');
@import url('./sections/general/calcvehicle.scss');

/* Header */
@import url('./sections/header/top.scss');
@import url('./sections/header/bottom.scss');
@import url('./sections/header/mob.scss');

/* Home */
@import url('./sections/home/hero.scss');
@import url('./sections/home/benefits.scss');
@import url('./sections/home/companies.scss');
@import url('./sections/home/shipments.scss');
@import url('./sections/home/price.scss');
@import url('./sections/home/overview.scss');
@import url('./sections/home/feedback.scss');
@import url('./sections/home/courier.scss');
@import url('./sections/home/delivery.scss');

/* About */
@import url('./sections/about/overview.scss');
@import url('./sections/about/success.scss');
@import url('./sections/about/companies.scss');
@import url('./sections/about/delivery.scss');

/* Contact */
@import url('./sections/contact/contact.scss');
@import url('./sections/contact/delivery.scss');

/* Calculatorwrapp */
@import url('./sections/calcwrapp/calcstep1.scss');
@import url('./sections/calcwrapp/calcsteps.scss');
@import url('./sections/calcwrapp/calcorder.scss');

/* Calculator1 */
@import url('./sections/calcstep1/body.scss');
@import url('./../../node_modules/nice-select2/src/scss/nice-select2.scss');
@import url('./../../node_modules/flatpickr/dist/flatpickr.min.css');

/* Calculator2 */
@import url('./sections/calcstep2/widget.scss');
@import url('./sections/calcstep2/sidebar.scss');
@import url('./sections/calcstep2/body.scss');

/* Calculator3 */
@import url('./sections/calcstep3/widget.scss');
@import url('./sections/calcstep3/sidebar.scss');
@import url('./sections/calcstep3/body.scss');

/* Calculator4 */
@import url('./sections/calcstep4/widget.scss');
@import url('./sections/calcstep4/sidebar.scss');
@import url('./sections/calcstep4/body.scss');

/* Calculator5 */
@import url('./sections/calcstep5/widget.scss');
@import url('./sections/calcstep5/sidebar.scss');
@import url('./sections/calcstep5/body.scss');

/* Calculator6 */
@import url('./sections/calcstep6/widget.scss');
@import url('./sections/calcstep6/sidebar.scss');
@import url('./sections/calcstep6/body.scss');

/* Calculator-order */
@import url('./sections/calcorder/sidebar.scss');

/* Error */
@import url('./sections/error/error.scss');
@import url('./sections/error/delivery.scss');

/* Footer */
@import url('./sections/footer/home/footer.scss');
@import url('./sections/footer/calc/footer.scss');
