<section class="hero section-def">
  <div class="container">
    <div class="hero__body">
      <p class="hero__subtitle">Marli courier service – direct transports</p>
      <h1 class="title-def">Speedy Delivery Across Europe</h1>
      <ul class="hero__list">
        <li class="hero__item">
          <p class="hero__lead">Direct to Destination</p>
          <p>For urgent deliveries - It's as if it was sent yesterday</p>
        </li>
        <li class="hero__item">
          <p class="hero__lead">Quick Pickup in 60-120 Minutes</p>
          <p>National & EU-wide: Avg. 72 Min Delivery.</p>
        </li>
        <li class="hero__item">
          <p class="hero__lead">Economical Fixed Pricing</p>
          <p>Instant quotes for transports - up to 1,200 kg</p>
        </li>
        <a href="#" class="btn-def">Calculate the price of delivery</a>
      </ul>
    </div>
  </div>
</section>
