.loading-cl {
  &__body {
  }
  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.63rem;
    margin-bottom: 5.95rem;
  }
  &__box {
    display: flex;
    align-items: center;
    gap: 1.88rem;
  }

  &__loading {
    display: flex;
    align-items: center;
  }

  &__loading-select {
    position: relative;
    flex-shrink: 0;
    width: 14.875rem;
    border-radius: 0.3125rem 0rem 0rem 0.3125rem;
    border: 0.063rem solid var(--cs);
    border-right: transparent;
    overflow: hidden;
    transition: all 200ms;
    select {
      cursor: pointer;
      width: 100%;
      font-size: 1rem;
      display: block;
      font-family: var(--ff);
      color: var(--ch);
      line-height: normal;
      padding: 1rem 1.38rem;
    }
  }

  &__loading-box {
    position: relative;
    width: 100%;
  }
  &__loading-address {
    input {
      border-radius: 0 0.3125rem 0.3125rem 0;
      border: 0.063rem solid var(--ch);
      transition: all 200ms;
    }
  }
  &__loading-address.is-opened {
    input {
      border-radius: 0 0.3125rem 0 0;
    }
  }
  &__loading-list {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    background-color: var(--cw);
    border: 0.063rem solid var(--cb);
    border-radius: 0 0 0.3125rem 0.3125rem;
    border-top: none;
    overflow: hidden;
    z-index: 2;
    transition: all 200ms;
    opacity: 0;
    visibility: hidden;
    label {
      cursor: pointer;
      display: block;
    }
    span {
      display: block;
      color: var(--ch);
      line-height: normal;
      padding: 0.7rem 1.38rem;
      border-bottom: 0.063rem solid var(--cb);
      transition: all 200ms;
      &:hover {
        background-color: var(--cm);
      }
    }
    input {
      display: none;
    }
    li {
      &:last-child {
        span {
          border-bottom: none;
        }
      }
    }
  }
  &__loading-list.is-opened {
    opacity: 1;
    visibility: visible;
  }

  &__time {
  }
  &__time-title {
    display: block;
    color: var(--ck);
    font-size: 0.875rem;
    line-height: normal;
    margin-bottom: 0.88rem;
  }
  &__time-wrapp {
    display: flex;
    align-items: center;
    gap: 5rem;
  }
  &__time-date {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 17.125rem;
    border-radius: 0.3125rem;
    border: 0.063rem solid var(--cs);
    color: var(--ch);
    padding: 1rem 0.95rem;
    span {
      color: var(--ch);
      line-height: normal;
    }
  }
  &__time-times {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__time-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 9rem;
    border-radius: 0.3125rem;
    border: 0.063rem solid var(--cs);
    color: var(--ch);
    padding: 1rem 0.95rem;
    span {
      color: var(--ch);
      line-height: normal;
    }
  }
  &__time-part + span {
    color: #000;
    font-weight: 500;
    line-height: normal;
  }

  &__btn {
    position: absolute;
    bottom: -3rem;
    right: 0;
    color: var(--cb);
    font-size: 0.875rem;
    line-height: normal;
    &:hover {
      text-decoration-line: underline;
    }
  }
}
